* {
  box-sizing: border-box;
}

:root {
  
  /* Palette */
  --color-outrun-mirage: #201932;
  --color-outrun-yellow: #f9c80e;
  
  /* Fonts */
  font-kerning: normal;
  
  --root-font-size: 100%;
  --base-font-size: 1.60rem;
  --global-line-height: 3rem;
  
  /* Type scale based on Major Second (1.125) */
  --h1-font-size: 3.24em;
  --h2-font-size: 2.88em;
  --h3-font-size: 2.56em;
  --h4-font-size: 2.28em;
  --h5-font-size: 2.02em;
  --h6-font-size: 1.80em;
    
  --small-font-size: 1.42em;
  --smaller-font-size: 1.26em;
  --smallest-font-size: 1.12em;
  
  font-size: var(--root-font-size);
  line-height: var(--global-line-height);
  
  background-color: var(--color-outrun-mirage);
}

body {
  /* Set to a readable width and centre horizontally */
  max-width: 60em;
  margin: 0 auto;
  
  font-family: "Lato", sans-serif;
}

a {
  color: #eff4ff;
  line-height: 120%;
}

a:hover {
  text-decoration: underline dashed;
  color: var(--color-outrun-yellow);
}

p,
ul {
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: var(--global-line-height);
  color: #da532c;
}

ul {
  list-style: hiragana;
  list-style-position: outside;
  padding-left: 0;
  line-height: 5rem;
}

div#header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  
  font-variant-caps: small-caps;
  font-size: var(--h1-font-size);
    
  text-transform: capitalize;
  
  color: var(--color-outrun-yellow);
  margin-bottom: 3rem;
}

div#header h2 {
    font-weight: 300;
    color: #eff4ff;
}
